@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

@layer base {
  body {
    @apply font-[Raleway];
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}
.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}
.content-div:hover {
  background-image: linear-gradient(
    to right,
    rgba(117, 16, 247, 0.5),
    hsla(266, 93%, 52%, 0.9)
  ) !important;
}
.banner-div {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)),
    url("../src/assets/banner.jpg");
  /* background-image: url("../src/assets/banner.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.work-div,
.about-div {
  background: linear-gradient(
      to right,
      rgba(245, 245, 245, 0.6),
      rgba(245, 245, 245, 0.6)
    ),
    url("../src/assets/background-skills.jpeg");
  background-size: cover;
  background-position: center;
}
scroll {
  transition-duration: 500ms;
}
